<!DOCTYPE html>
<html ng-app="myApp">
 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
       
        <!-- CSS Maison -->     
        <link href="web/css/style.css" rel="stylesheet"> 
        <link href="web/css/style.css" rel="stylesheet">  
        <!-- SCRIPT Maison -->
        <script src="js/configurateur.js"></script>
        <script src="js/configurateur.js"></script>

    </head>
     
    <!-- AngularJS fournit une directive appelée ngController qui attache le contrôleur à une vue -->
    <body ng-controller="ConfigurateurCtrl">
     
        <div class="row container">
            </br>

            <!-- 
            <pre> 
                Debug
                {{ maconfig | json }}
            </pre> -->

            <p>{{userData.firstName}}</p>
            <p>{{userData.userName}}</p>
            <p>{{userData.age}}</p>

            <div class="col-md-4" id="etat_configuration">
                <h3>Etat de ma configuration</h3>
                <p>Type : {{ config.type }} </p>
                <p>Budget : {{ config.budget }} €</p>
                <p>Dépense actuelle : {{ config.total }} / {{ config.budget }} €</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ config.total }} / {{ config.budget }}" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

                </br>
                <h4>Composants obligatoires</h4>
                <table id="table_composants" class="table table-striped">
                    <thead>
                      <tr>                    
                        <th>Nom</th>
                        <th>Estimation</th>
                        <th>Dépense</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="composant in config.composants">
                      <tr>
                        <td>{{ composant.nom }} </td>
                        <td>{{ composant.estimation*config.budget }} €</td>
                        <td>{{ composant.prix }} €</td>
                      </tr>             
                      <tr>
						<td ng-if="composant.choix == null"><font color="red">Composant non choisi</font></td>
                        <td ng-if="composant.choix != null">{{ composant.choix }}</td>
                      </tr>                         
                    </tbody>
                </table>
            </div>

          <!-- Dans la div selection_produits, ng-switch correspond à la valeur de maconfig.choix_courant, en fonction
          de sa valeur, les div contenant ng-switch-when s'afficheront (ou non). -->

            <div class="col-md-8" id="selection_produits" ng-switch="maconfig.choix_courant">

                <h3 ng-switch-when="cartemere"> Composant à choisir: Carte Mère </h3>
                <h3 ng-switch-when="processeur"> Composant à choisir: Processeur </h3>

                <h4>Description</h4>

                <!-- La div correspondant à la valeur de maconfig.choix_courant s'affiche tandis que les autres sont masquées -->

                <div ng-switch-when="cartemere">                  
                    <p>La carte mère est le cœur de tout ordinateur. Elle est essentiellement composée de circuits imprimés et de ports de connexion, par le biais desquels elle assure la connexion de tous les composants et périphériques propres à un ordinateur.</p>
                </div>

                <div ng-switch-when="processeur">                  
                    <p>Un processeur (ou unité centrale de traitement, UCT, en anglais central processing unit, CPU) est un composant présent dans de nombreux dispositifs électroniques qui exécute les instructions machine des programmes informatiques. Avec la mémoire, c'est notamment l'un des composants qui existent depuis les premiers ordinateurs et qui sont présents dans tous les ordinateurs. Un processeur construit en un seul circuit intégré est un microprocesseur.</p>
                </div>

                <!-- Rajouter les autres descriptions ICI en n'oubliant pas de modifier la valeur ng-switch-when="Composant" -->

                </br>

                <h4>Liste des produits</h4>
                
                <!-- Même chose ici, rajouter les tableaux pour chacun des composants en modifiant la valeur ng-switch-->
                <p> <button type="button" ng-click = "test()" class="btn btn-default">Comparer</button> Selectionner les produits que vous souhaitez comparer </p>

                <div ng-switch = "showme">
                    <div ng-switch-when="true">
                        <div ng-switch = "maconfig.choix_courant">
                        <TABLE BORDER="1" CELLPADDING=32 CELLSPACING=35 ng-switch-when="cartemere"> 
                            <CAPTION> <button type="button" ng-click = "showexit()" class="btn btn-default">X</button> Comparaison Produits </CAPTION> 
                                <TR> 
                                     <TH> Nom </TH>
                                     <TD> {{ cartesmeres[t_c[0]].nom }} </TH> 
                                     <TD> {{ cartesmeres[t_c[1]].nom }} </TD> 
                                </TR> 
                                <TR> 
                                     <TH> Controleur principal</TH>
                                     <TD> {{ cartesmeres[t_c[0]].caracteristiques.controleur_principal }} </TD> 
                                     <TD> {{ cartesmeres[t_c[1]].caracteristiques.controleur_principal }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Mémoire supportée</TH>
                                    <TD> {{ cartesmeres[t_c[0]].caracteristiques.memoire_supportee }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].caracteristiques.memoire_supportee }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Prix</TH>
                                    <TD> {{ cartesmeres[t_c[0]].prix }} € </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].prix }} €</TD> 
                                </TR>
                                <TR>
                                    <TH> Disponibilité</TH>
                                    <TD> {{ cartesmeres[t_c[0]].dispo }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].dispo }}</TD> 
                                </TR>
                                <TR>
                                    <TH> Ajout Produit </TH>
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[0]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[1]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                </TR>
                        </TABLE>

                        <TABLE BORDER="1" CELLPADDING=32 CELLSPACING=35 ng-switch-when="processeur"> 
                            <CAPTION> <button type="button" ng-click = "showexit()" class="btn btn-default">X</button> Comparaison Produits </CAPTION> 
                                 <TR> 
                                     <TH> Nom </TH>
                                     <TD> {{ processeurs[t_c[0]].nom }} </TH> 
                                     <TD> {{ processeurs[t_c[1]].nom }} </TD> 
                                </TR> 
                                <TR> 
                                     <TH> Nombre de coeurs : </TH>
                                     <TD> {{ processeurs[t_c[0]].caracteristiques.nb_coeur }} </TD> 
                                     <TD> {{ processeurs[t_c[1]].caracteristiques.nb_coeur }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Fréquence </TH>
                                    <TD> {{ processeurs[t_c[0]].caracteristiques.freq }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].caracteristiques.freq }} </TD> 
                                </TR>
                                 <TR>
                                    <TH> Mémoire cache </TH>
                                    <TD> {{ processeurs[t_c[0]].caracteristiques.memoire_cache }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].caracteristiques.memoire_cache }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Prix</TH>
                                    <TD> {{ processeurs[t_c[0]].prix }} € </TD> 
                                    <TD> {{ processeurs[t_c[1]].prix }} €</TD> 
                                </TR>
                                <TR>
                                    <TH> Disponibilité</TH>
                                    <TD> {{ processeurs[t_c[0]].dispo }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].dispo }}</TD> 
                                </TR>
                                <TR>
                                    <TH> Ajout Produit </TH>
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[0]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[1]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                </TR>
                        </TABLE>

                        </div>                                  
                    </div>
                </div>

            </br>

                <div ng-switch-when="cartemere" ng-switch="maconfig.filtre">
                    <label for="filtreprix_cm"> Prix maximum :</label>               
                    <input id="filtreprix_cm" type="text" ng-model="cartemere.prix" ng-change="filtrerParPrix()" value="">

                    <ul id="list_produits_cartemere" ng-switch-when="null">
                        <li ng-repeat="cartemere in cartesmeres">
                            <div>                                
                                <strong> Nom : {{ cartemere.nom}} </strong>    
                                <ul id="cartemere_caract">
                                    <li>Controleur principal : {{ cartemere.caracteristiques.controleur_principal }}</li>
                                    <li>Format : {{ cartemere.caracteristiques.format }}</li>
                                    <li>Mémoire supportée : {{ cartemere.caracteristiques.memoire_supportee }}</li>
                                </ul>
                                <p>Prix : {{ cartemere.prix }} € - {{ cartemere.dispo }}</p> 
                                <input type="checkbox" ng-model="value[$index]" ng-change="plus($index)">           
                                <a href="#/configurateur/composants/details">Voir Détails >></a>
                                <input type="button" ng-click="ajouterCarteMere(cartemere)" class="btn btn-warning" value="Choisir ce composant">
                            </div>                            
                        </li>
                    </ul>

                    <ul id="list_produits_cartemere" ng-switch-when="prix">
                        <li ng-repeat="cartemere in cartesmeres_filtre">
                            <div>                                
                                <strong> Nom : {{ cartemere.nom }} </strong>    
                                <ul id="cartemere_caract">
                                    <li>Controleur principal : {{ cartemere.caracteristiques.controleur_principal }}</li>
                                    <li>Format : {{ cartemere.caracteristiques.format }}</li>
                                    <li>Mémoire supportée : {{ cartemere.caracteristiques.memoire_supportee }}</li>
                                </ul>
                                <p>Prix : {{ cartemere.prix }} € - {{ cartemere.dispo }}</p>
                                <input type="checkbox" ng-model="value[$index]" ng-change="plus($index)">                         
                                <a href="#/configurateur/composants/details">Voir Détails >></a>
                                <input type="button" ng-click="ajouterCarteMere(cartemere)" class="btn btn-warning" value="Choisir ce composant">
                            </div>                            
                        </li>
                    </ul>
                </div>


                <div ng-switch-when="processeur" ng-switch="maconfig.filtre">
                    <label for="filtreprix_proc"> Prix maximum :</label>                
                    <input id="filtreprix_proc" type="text" ng-model="processeur.prix" ng-change="filtrerParPrix()" value="">

                    <ul id="list_produits_processeur" ng-switch-when="null">
                        <li ng-repeat="processeur in processeurs">
                            <strong> Nom : {{ processeur.nom }} </strong>    
                            <ul id="processeur_caract">
                                <li> Nombre de coeurs : {{ processeur.caracteristiques.nb_coeur }} </li>
                                <li> Fréquence : {{ processeur.caracteristiques.freq }} </li>
                                <li> Mémoire cache : {{ processeur.caracteristiques.memoire_cache }}</li>
                            </ul>
                            <p>Prix : {{ processeur.prix }}€ - {{ processeur.dispo }}</p>
                            <input type="checkbox" ng-model="value[$index]" ng-change="plus($index)">                     
                            <a href="#/configurateur/composants/details">Voir Détails >></a>
                            <a href="#/configurateur/recap_composants">
                                <input type="button" ng-click="ajouterProcesseur(processeur)" class="btn btn-warning" value="Choisir ce composant">
                            </a>
                        </li>
                    </ul>

                    <ul id="list_produits_processeur" ng-switch-when="prix">
                        <li ng-repeat="processeur in processeurs_filtre">
                            <strong> Nom : {{ processeur.nom }} </strong>    
                            <ul id="processeur_caract">
                                <li> Nombre de coeurs : {{ processeur.caracteristiques.nb_coeur }} </li>
                                <li> Fréquence : {{ processeur.caracteristiques.freq }} </li>
                                <li> Mémoire cache : {{ processeur.caracteristiques.memoire_cache }}</li>
                            </ul>
                            <p>Prix : {{ processeur.prix }}€ - {{ processeur.dispo }}</p>
                            <input type="checkbox" ng-model="value[$index]" ng-change="plus($index)">                           
                            <a href="#/configurateur/composants/details">Voir Détails >></a>
                            <a href="#/configurateur/recap_composants">
                                <input type="button" ng-click="ajouterProcesseur(processeur)" class="btn btn-warning" value="Choisir ce composant">
                            </a>
                        </li>
                    </ul>
                </div>

                <div  ng-switch-when="fin_composants">
                    <!-- Récapitulatif des composants -->
                    <p>Récapitulatif des composants</p>
                </div>

                <!-- Rajouter les autres div ICI -->

            </div>


        </div>
    </body>
</html>