<!DOCTYPE html>
<html ng-app="myApp">
 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">             
        <title>Home</title>

        <!-- CSS Maison -->     
        <link href="web/css/style.css" rel="stylesheet"> 
        <link href="web/css/style.css" rel="stylesheet">      
        
        <script src="js/configurateur.js"></script>
    </head>
     
    <!-- AngularJS fournit une directive appelée ngController qui attache le contrôleur à une vue -->
    <body ng-controller="PreparationCtrl">
     
        <div class="container">
          
            <p> <i> Home > Configurateur de PC > Préparation </i> </p>

            <h1 class="preparation">Bienvenue sur le configurateur de PC</h1>

            <h2 class="preparation">Présentation</h2>

            <p>{{userData.firstName}}</p>
            <p>{{userData.userName}}</p>
            <p>{{userData.age}}</p>


            <h2>Choisissez votre profil d'utilisation</h2>
            <div id="profils" class="row jumbotron">
                <div class="col-md-3">
                    <img ng-show="config.type == 'jeux'" ng-click="config.type = ''" src="web/img/jeuxchecked.png">
					<img ng-show="config.type != 'jeux'" ng-click="config.type = 'jeux'" src="web/img/jeux.png">
                    <p>Jeux</p>
                    <h6>Un couple processeur/carte graphique puissant et équilibré, et assez de mémoire pour les derniers monstres vidéo-ludiques.</h6>
                </div>
                <div class="col-md-3">
                    <img ng-show="config.type == 'bureautique'"  ng-click="config.type = ''" src="web/img/bureautiquechecked.png">
					<img ng-show="config.type != 'bureautique'"  ng-click="config.type = 'bureautique'" src="web/img/bureautique.png">
                    <p>Bureautique</p>
                    <h6>Pour surfer sur Internet, consulter des mails, utiliser des logiciels de gestion..</h6>
                </div>
                <div class="col-md-3">
                    <img ng-show="config.type == 'polyvalent'"  ng-click="config.type = ''" src="web/img/polyvalentchecked.png">
					<img ng-show="config.type != 'polyvalent'"  ng-click="config.type = 'polyvalent'" src="web/img/polyvalent.png">
                    <p>Polyvalent</p>
                    <h6>Un bon compromis pour une configuration efficace dans tous les domaines.</h6>
                </div>
                <div class="col-md-3">
                    <img ng-show="config.type == 'professionnel'"  ng-click="config.type = ''" src="web/img/professionnelchecked.png">
					<img ng-show="config.type != 'professionnel'"  ng-click="config.type = 'professionnel'" src="web/img/professionnel.png">
                    <p>Professionnel</p>
                    <h6>Pour une configuration calibrée selon vos obectifs professionnels.</h6>
                </div>
            </div>
			
            <h2 class="preparation">Choisissez votre budget</h2>
            <input type="checkbox" name="budget" id="budget" ng-model="budgetCheckBox.isChecked"> <label for="budget">Cochez si vous souhaitez définir un budget</label>
            <div ng-show="budgetCheckBox.isChecked">
				<label for="budget_val">Mon budget : </label> <input type="text" id="budget_val" name="budget_val" ng-model="config.budget" maxlength="5" size="5"> <label for="budget_val">€</label>
			</div>
	
            <h2 class="preparation">Choisissez comment configurer votre PC</h2>
            <div class="jumbotron">
                <button type="button" class="btn btn-default"> Choisir une configuration de base </button>
                <a href="#/configurateur/composants"> <button type="button" class="btn btn-default">Créer à partir de zero</button> </a>
            </div>
             
          
        </div> <!-- Fin container -->

    </body>
</html>