<!DOCTYPE html>
<html ng-app="myApp">
 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Compte</title>
        
        <!-- CSS Maison -->
        <link href="web/css/style.css" rel="stylesheet"> 
        
    </head>
     
    <!-- AngularJS fournit une directive appelée ngController qui attache le contrôleur à une vue -->
    <body ng-controller="CompteCtrl">
     
        <div class="container">
			<div id="creation">
				<h1>Créer un compte</h1>
				<label for="email">Email* :</label>
				<input type="text" ng-model="email" id="email"><br>
				<label for="password1">Password* :</label>
				<input type="password" ng-model="password1" id="password1"><br>
				<label for="password2">Répetez password* :</label>
				<input type="password" ng-model="password2" id="password2"><br>
				<label for="nom">Nom* :</label>
				<input type="text" ng-model="nom" id="nom"><br>
				<label for="prenom">Prénom* :</label>
				<input type="text" ng-model="prenom" id="prenom"><br>
				<label for="adresse">Adresse* :</label>
				<input type="text" ng-model="adresse" id="adresse"><br>
				<label for="ville">Ville* :</label>
				<input type="text" ng-model="ville" id="ville"><br>
				<label for="pays">Pays* :</label>
				<input type="text" ng-model="pays" id="pays"><br>
				<button ng-click="createUser()">Créer un compte</button>
			</div>
			
			<div ng-if="success" class="success">Votre compte a été crée ! Vous pouvez maintenant vous connecter. <br> <a href="#/home">Retour à la page d'accueil</a></div>
			<div ng-if="error" class="error">{{ error }}</div>
        </div>
    </body>
</html>