#ligne_de_vie
{
	list-style-type: none;
	margin: auto;
	padding-top: 2%;
}

#ligne_de_vie li
{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	border: solid 1px black;
}

.done
{
	border: solid 1px green;
	color: white;
	background-color: #228B22;
}

.actual
{
	border: solid 1px blue;
	color: white;
	background-color: #1E90FF;
}

#selection_produits
{
	border-left: solid 0.3px Scrollbar;
}
