#ligne_de_vie
{
	list-style-type: none;
	margin: auto;
	padding-top: 2%;
}

.animate-enter, .animate-leave {
transition: 500ms ease-in all;
position: relative;
display: block;
} 
.animate-enter.animate-enter-active, .animate-leave {
left: 0;
}
.animate-leave.animate-leave-active, .animate-enter {
left: 500px;
}

#ligne_de_vie li
{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	border: solid 1px black;
}

.done
{
	border: solid 1px green;
	color: white;
	background-color: #228B22;
}

.actual
{
	border: solid 1px blue;
	color: white;
	background-color: #1E90FF;
}

#etat_configuration
{
	border-right: solid 0.3px Scrollbar;
}