<!DOCTYPE html>
<html ng-app="myApp">
 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
       
        <!-- CSS Maison -->     
        <link href="configurateur/etape_preparation.css" rel="stylesheet"> 
        <link href="configurateur/etapes_configurateur.css" rel="stylesheet">  
        <!-- SCRIPT Maison -->
        <script src="preparation_configurateur.js"></script>

    </head>
     
    <!-- AngularJS fournit une directive appelée ngController qui attache le contrôleur à une vue -->
    <body ng-controller="ComposantsConfigurateurCtrl">
     
        <div class="row container">
            </br>

            <!-- 
            <pre> 
                Debug
                {{ maconfig | json }}
            </pre> -->
            <div class="col-md-4" id="etat_configuration">
                <h3>Etat de ma configuration</h3>
                <p>Type : {{ maconfig.type }} </p>
                <p>Budget : {{ maconfig.budget }} €</p>

                <p>Dépense actuelle : {{ maconfig.cout }} € / {{ maconfig.budget }} €</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

                </br>
                <h4>Composants obligatoires</h4>
                <table id="table_composants" class="table table-striped">
                    <thead>
                      <tr>                    
                        <th>Nom</th>
                        <th>Estimation</th>
                        <th>Dépense</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="composant in mescomposants" >
                      <tr>
                        <td>{{ composant.type_produit }} </td>
                        <td>{{ composant.estimation }} €</td>
                        <td>{{ composant.depense }} €</td>
                      </tr>             
                      <tr>
                        <td> choix : {{ composant.choix }} </td>
                      </tr>                         
                    </tbody>
                </table>
            </div>

          <!-- Dans la div selection_produits, ng-switch correspond à la valeur de maconfig.choix_courant, en fonction
          de sa valeur, les div contenant ng-switch-when s'afficheront (ou non). -->

            <div class="col-md-8" id="selection_produits" ng-switch="maconfig.choix_courant">

                <h3 >Composant à choisir: {{ maconfig.choix_courant }}</h3>

                <h4>Description</h4>

                <!-- La div correspondant à la valeur de maconfig.choix_courant s'affiche tandis que les autres sont masquées -->

                <div id="def" ng-switch-when="Cartemere">                  
                    <p>La carte mère est le cœur de tout ordinateur. Elle est essentiellement composée de circuits imprimés et de ports de connexion, par le biais desquels elle assure la connexion de tous les composants et périphériques propres à un ordinateur.</p>
                </div>

                <div id="def" ng-switch-when="Processeur">                  
                    <p>Un processeur (ou unité centrale de traitement, UCT, en anglais central processing unit, CPU) est un composant présent dans de nombreux dispositifs électroniques qui exécute les instructions machine des programmes informatiques. Avec la mémoire, c'est notamment l'un des composants qui existent depuis les premiers ordinateurs et qui sont présents dans tous les ordinateurs. Un processeur construit en un seul circuit intégré est un microprocesseur.</p>
                </div>

                <!-- Rajouter les autres descriptions ICI en n'oubliant pas de modifier la valeur ng-switch-when="Composant" -->

                </br>

                <h4>Liste des produits</h4>

                <!-- Même chose ici, rajouter les tableaux pour chacun des composants en modifiant la valeur ng-switch-->

                <div ng-switch-when="cartemere">
                    <ul id="list_produits">
                        <li ng-repeat="cartemere in cartesmeres"> <!--  ng-animate="'animate'" -->
                            <strong> Nom : {{ cartemere.nom }} </strong>    
                            <ul id="caract">
                                <li>Controleur principal : {{ cartemere.caracteristiques.controleur_principal }}</li>
                                <li>Format : {{ cartemere.caracteristiques.format }}</li>
                                <li>Mémoire supportée : {{ cartemere.caracteristiques.memoire_supportee }}</li>
                            </ul>
                            <p>Prix : {{ cartemere.prix }}€ - {{ cartemere.dispo }}</p>                             
                            <a href="#/configurateur/composants/details">Voir Détails >></a>
                            <input type="button" ng-click="ajouterComposant(cartemere)" class="btn btn-warning" value="Choisir ce composant">
                        </li>
                    </ul>
                </div>


                <div  ng-switch-when="Processeur">
                    <ul id="list_produits">
                        <li ng-repeat="cartemere in cartesmeres">
                            <strong> Nom : Processeur de la mort </strong>    
                            <ul id="caract">
                                <li>Controleur principal : Tout à changé </li>
                                <li>Format : Tout à changé </li>
                                <li>Mémoire supportée : Tout à changé </li>
                            </ul>
                            <p>Prix : {{ cartemere.prix }}€ - {{ cartemere.dispo }}</p>                             
                            <a href="#/configurateur/composants/details">Voir Détails >></a>
                            <input type="button" ng-click="ajouterComposant(cartemere)" class="btn btn-warning" value="Choisir ce composant">
                        </li>
                    </ul>
                </div>

                <!-- Rajouter les autres div ICI -->

            </div>


        </div>
    </body>
</html>