<body ng-controller="ConfigurateurCtrl">
 
	<div>
		</br>
		
		<div class="col-md-4" id="etat_configuration">
			<h3>Etat de ma configuration</h3>
			<p>Type : 
				<span ng-if="config.data.type!=null">{{ config.data.type }}</span>
				<span class="undefined" ng-if="config.data.budget==null">Non défini</span>
			</p>
			<p>Budget : 
				<span ng-if="config.data.budget!=null">{{ config.data.budget }} €</span>
				<span class="undefined" ng-if="config.data.budget==null">Non défini</span></p>
			<p>Dépense actuelle : 
				<span class="good" ng-if="config.data.budget!=null && config.total <= config.data.budget"> {{ config.total }} </span>
				<span class="error" ng-if="config.data.budget!=null && config.total > config.data.budget"> {{ config.total }} </span>
				<span ng-if="config.data.budget==null"> {{ config.total }} </span>
				<span ng-if="config.data.budget!=null">/</span> {{ config.data.budget }} €</p>
			<div class="progress">
				<div class="progress-bar progress-bar-success" id="budget_bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>

			<button ng-show="afficherbouton" class="btn btn-md btn-default" ng-click="prochainProduit()">Composant Suivant >></button>		
			<a ng-click="leavePage()" href="#/panier"><button class="btn btn-md btn-success">Transférer au panier</button></a>
			<!--<button ng-click="leavePage()" class="btn btn-md btn-success">Transférer au panier</button>-->

			</br>
			<div ng-repeat="categorie in catalogue">
				<h4 class="textclickable" ng-click="show[categorie.$id]=!show[categorie.$id]"><span ng-if="categoriecourantekey==categorie.$id" class="bold">{{categorie.$id}}</span><span ng-if="categoriecourantekey!=categorie.$id">{{categorie.$id}}</span></h4>
				<table ng-show="show[categorie.$id]" class="table table-striped">
					<thead>
					  <tr>                    
						<th>Nom</th>
						<th>Estimation</th>
						<th>Dépense</th>
					  </tr>
					</thead>
					<tbody ng-repeat="(key,produit) in categorie">
					  <tr>
						<td><span class="textclickable" ng-click="changerProduit(categorie.$id, produit.infos.id, produit)"><span ng-if="produitcourant.infos.id==key" class="bold">{{ produit.infos.nom }}</span><span ng-if="produitcourant.infos.id!=key">{{ produit.infos.nom}}</span></span></td>
						
						<!--  s'il y a une estimation du prix -->
						<td ng-if="config.data.budget!=null && produit.infos.estimation!=null">{{ produit.infos.estimation*config.data.budget }} €</td>
						<!--  s'il n'y a pas d'estimation du prix -->
						<td ng-if="produit.infos.estimation==null || config.data.budget==null"> - €</td>

						<td>
							<!-- budget respecté -->
							<span class="good" ng-if="config.catalogue[categorie.$id][produit.infos.id].choix!=null && config.data.budget!=null && produit.infos.estimation!=null && config.catalogue[categorie.$id][produit.infos.id].prix<=produit.infos.estimation*config.data.budget">{{ config.catalogue[categorie.$id][produit.infos.id].prix }}</span>
							<!-- budget dépassé -->
							<span class="error" ng-if="config.catalogue[categorie.$id][produit.infos.id].prix!=null && config.data.budget!=null && produit.infos.estimation!=null && config.catalogue[categorie.$id][produit.infos.id].prix>produit.infos.estimation*config.data.budget">{{ config.catalogue[categorie.$id][produit.infos.id].prix }}</span>
							<!-- pas de budget -->
							<span ng-if="config.catalogue[categorie.$id][produit.infos.id].prix!=null && produit.infos.estimation!=null && config.data.budget==null">{{ config.catalogue[categorie.$id][produit.infos.id].prix }}</span>
							<span ng-if="config.catalogue[categorie.$id][produit.infos.id].prix!=null && produit.infos.estimation==null">{{ config.catalogue[categorie.$id][produit.infos.id].prix }}</span>
							<!-- pas de prix -->
							<span ng-if="config.catalogue[categorie.$id][produit.infos.id].prix==null">-</span>
							€
						</td>
					  </tr>
					  <tr>
						<td class="error" ng-if="config.catalogue[categorie.$id][produit.infos.id].choix == null">Produit non choisi</td>
						<td class="picked" ng-if="config.catalogue[categorie.$id][produit.infos.id].choix != null">{{ config.catalogue[categorie.$id][produit.infos.id].choix }} 
						<span ng-if="config.catalogue[categorie.$id][produit.infos.id].choix != null" ng-click="deleteProduit(categorie.$id, produit.infos.id)"><img class="imageclickable" src="web/img/bad.png"></span></td>
					  </tr>                         
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-8" id="selection_produits">

			<h3> Produit à choisir : {{produitcourant.infos.nom}} </h3>

			<h4>Description</h4>
			<p>{{produitcourant.infos.description}}</p>

			</br>
			
			<h4>Choix actuel</h4>
			<div>
				{{ config.catalogue[categoriecourantekey][produitcourant.infos.id].choix }} <br>
				{{ config.catalogue[categoriecourantekey][produitcourant.infos.id].prix }} <span ng-if="config.catalogue[categoriecourantekey][produitcourant.infos.id].prix!=n">€</span><br>
				{{ config.catalogue[categoriecourantekey][produitcourant.infos.id].dispo }} <br>
			</div>

			<h4>Liste des produits</h4>
			<p> <button type="button" ng-click="modecomparaison=true" ng-disabled="nbcheckbox!=2" class="btn btn-default">Comparer</button> Selectionner les 2 produits que vous souhaitez comparer </p>
			<div ng-show="modecomparaison">							
				<table class="table table-striped">
					<thead>
						<tr>
							<th ng-repeat="propriete in comparaisonpropriete"> {{propriete}} </th>							
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="produit in comparaison">
							<td ng-repeat="propriete in produit"> {{propriete}} </td>							
						</tr>
					</tbody>
				</table>
				<button type="button" ng-click="modecomparaison=false" class="btn btn-sm btn-danger">Fermer la comparaison</button>
				<br><br><br><br>
			</div>

			<label for="filtreprix"> Prix maximum :</label>               
			<input type="text" ng-model="prixmaximum" id="filtreprix" maxlength="5" size="5">
			<label for="filtrenom"> Nom du produit :</label>               
			<input type="text" ng-model="filtrenom" id="filtrenom" maxlength="20" size="20">
			<div class="produits">
				<table class="table table-striped">
					<thead>
					  <tr>                    
					    <th></th>
					    <th>Nom</th> 
					    <th>Aperçu des caracteristiques</th>
					    <th>Prix</th>
					    <th>Disponibilité</th>
					    <th></th>
					  </tr>
					</thead>
	                <tbody ng-repeat="(key1,produit) in produitcourant | orderObjectBy:'prix' | filter:prixMaximumFilter | filter:nomFiltre" ng-if="key1!='infos'">
	                  <tr>
	                    <td><input type="checkbox" ng-click="checkProduit(produit)"></td>
	                    <td> {{ produit.nom}} </td>       
	                    <td> 
	                        <p ng-repeat="(key2,val) in produit.caracteristiques">
	                        	{{key2}} : {{val}}
	                        </p>
	                    </td>                        	                                     
	                    <td> {{ produit.prix }} € </td>
	                    <td> {{ produit.dispo }} </td>                            
	                    <td>                                        
	                       <input type="button" ng-click="choixProduit(key1, produit.nom, produit.prix, produit.dispo)" class="btn btn-warning" value="Choisir ce composant">
	                    </td>
	                  </tr>                                                                                                  
	                </tbody>                       
				</table>
			</div>
		   </div>

		</div>
		
	
		
	</div>
</body>