﻿<body ng-controller="HistoriqueCtrl">
 
	<div class="container">

		<div class="container" id="commandes">
			<div ng-show="showdetails">
				<h2>Détails de la commande numéro: {{details.reference}}</h2>
				<table class="table table-striped" style="width:100%">
					<thead>
						<th>Nom</th>
						<th>Quantite</th>		
						<th>Prix</th>
					</thead>
					<tbody>
						<tr ng-repeat="detail in details.produits">
							<td>{{detail.nom}}</td>
							<td>{{detail.quantite}}</td>
							<td>{{detail.prix*detail.quantite}}  €</td>
						</tr>
					<tbody>
				</table>
				<button class="btn btn-md btn-danger" ng-click="hideDetails()"> Fermer les détails </button>
			</div>
			<h2>Mes commandes</h2>
			<table class="table table-striped" style="width:100%">
				<thead>
					<th>Référence</th>
					<th>Date</th>		
					<th>Montant total</th>
					<th>État</th>
				</thead>
				<tbody>
					<tr ng-repeat="commande in commandes">
						<td ng-click="showDetails(commande)" class="textlien">{{commande.reference}}</td>
						<td>{{commande.date}}</td>
						<td>{{commande.prix}} €</td>
						<td>{{commande.etat}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>