<body ng-controller="HomeCtrl">
 
	<div class="container">
	  
		<div class="jumbotron" id="configurateur_PC">         
			<h2> Notre outil vous aide étape par étape dans la création de votre ordinateur personnalisé </h2>
			<div id="avantages" class="row">
				<div class="col-md-6">              
					<div> <h4> <img src="web/img/check.png"> Recommandations adaptées à vos besoins</h4> </div>             
					<div> <h4> <img src="web/img/check.png"> Comparaison des produits</h4> </div>           
				</div>
				<div class="col-md-6">              
					<div> <h4> <img src="web/img/check.png"> Suivi de votre budget</h4> </div>      
					<div> <h4> <img src="web/img/check.png"> Choisissez une configuration de base ou démarrez de zéro</h4> </div>               
				</div>
			</div>
			</br>
			<a href="#/configurateur/preparation"><button type="button" class="btn btn-success">Démarrer avec le Configurateur</button></a>
		</div>

		<div class="jumbotron row" id="catalogue">
			<div class="col-md-8">
				<h3>Un large choix de composants, périphériques et logiciels pour PC</h3>
				</br>
				<h4>Les meilleures configurations réalisées par la communauté</h4>
				<h4>Les dernières nouveautés </h4>
				<h4>Des promotions à ne pas manquer !</h4>
				</br>
				<a href="#/catalogue"><button type="button" class="btn btn-primary">Consulter le Catalogue</button></a>
			</div>

			<div class="col-md-4" id="guides">
				<h3>Consulter notre guide</h3>
				<img src="web/img/Book.png"></br>
				<h4> Guide des composants, dictionnaire des termes techniques, devenez un expert en ordinateur ! </h4>
				</br>
				<a href="#/guide"><button type="button" class="btn btn-default">Voir Guide</button></a>
			</div>
		</div>  
	  
	</div> <!-- Fin container -->
</body>