﻿<body ng-controller="PanierCtrl">
	<div class="container">
		<h3>Mon Panier</h3>
		<table class="table table-striped">
			<thead>
				<td>Produit</td>	
				<td>Quantité</td>			
				<td>Prix</td>
				<td>Disponibilité</td>
				<td></td>
			</thead>
			<tbody>
				<tr ng-repeat="produit in panier.commande">
					<td>
						<strong>{{ produit.nom }}</strong><br>
						{{ produit.choix }}
					</td>
					<td><input ng-click="ajoutQuantite(produit)" type="button" value="+">
					{{ produit.quantite }}
					<input ng-click="suppressionQuantite(produit)" type="button" value="-"></td>	
					<td>{{ produit.prix*produit.quantite }} €</td>
					<td>{{ produit.dispo }}</td>
					<td>
						<input ng-click="deleteProduit(produit)" type="button" class="btn btn-md btn-danger" value="Delete">
					</td>
				</tr>
			</tbody>
		</table>

		<h4>Montant total de ma commande : {{panier.total}} €</h4>
		<span ng-hide="promotion">
			<label for="promotion">Mon code de promotion :</label>
			<input type="text" id="promotion" ng-model="codepromotion" maxlength="5" size="5">
			<button ng-click="ajoutPromotion()">OK</button>
			<span class="undefined">ex : G3J06</span></br>
		</span>
		<span class="good" ng-show="promotion">
			Promotion de 5€ appliquée ! <br><br>
		</span>

		<input type="button" ng-click="passerCommande()" class="btn btn-lg btn-success" value="Commander"><span ng-if="error" class="error">{{error}}</span>
		
	</div>
</body>