<body ng-controller="PreparationCtrl">
 
	<div class="container">
	  
		<p> <i> Home > Configurateur de PC > Préparation </i> </p>

		<h1 class="preparation">Bienvenue sur le configurateur de PC</h1>

		<h2 class="preparation">Présentation</h2>
		Notre configurateur vous aidera à choisir un ordinateur pas à pas. Notre outil convient aux utilisateurs experts comme aux plus novices.

		<h2>Choisissez votre profil d'utilisation</h2>
		<div id="profils" class="row jumbotron">
			<div class="col-md-3">
				<img class="imageclickable" ng-show="config.data.type == 'jeux'" ng-click="config.data.type = ''" src="web/img/jeuxchecked.png">
				<img class="imageclickable" ng-show="config.data.type != 'jeux'" ng-click="config.data.type = 'jeux'" src="web/img/jeux.png">
				<p>Jeux</p>
				<h6>Un couple processeur/carte graphique puissant et équilibré, et assez de mémoire pour les derniers monstres vidéo-ludiques.</h6>
			</div>
			<div class="col-md-3">
				<img class="imageclickable" ng-show="config.data.type == 'bureautique'"  ng-click="config.data.type = ''" src="web/img/bureautiquechecked.png">
				<img class="imageclickable" ng-show="config.data.type != 'bureautique'"  ng-click="config.data.type = 'bureautique'" src="web/img/bureautique.png">
				<p>Bureautique</p>
				<h6>Pour surfer sur Internet, consulter des mails, utiliser des logiciels de gestion..</h6>
			</div>
			<div class="col-md-3">
				<img class="imageclickable" ng-show="config.data.type == 'polyvalent'"  ng-click="config.data.type = ''" src="web/img/polyvalentchecked.png">
				<img class="imageclickable" ng-show="config.data.type != 'polyvalent'"  ng-click="config.data.type = 'polyvalent'" src="web/img/polyvalent.png">
				<p>Polyvalent</p>
				<h6>Un bon compromis pour une configuration efficace dans tous les domaines.</h6>
			</div>
			<div class="col-md-3">
				<img class="imageclickable" ng-show="config.data.type == 'professionnel'"  ng-click="config.data.type = ''" src="web/img/professionnelchecked.png">
				<img class="imageclickable" ng-show="config.data.type != 'professionnel'"  ng-click="config.data.type = 'professionnel'" src="web/img/professionnel.png">
				<p>Professionnel</p>
				<h6>Pour une configuration calibrée selon vos obectifs professionnels.</h6>
			</div>
		</div>
		
		<h2 class="preparation">Choisissez votre budget</h2>
		<input type="checkbox" name="budget" id="budget" ng-model="budgetCheckBox.isChecked"> <label for="budget">Cochez si vous souhaitez définir un budget</label>
		<div ng-show="budgetCheckBox.isChecked">
			Mon budget (en euros) : <number-only-input input-value="config.data.budget"/>
		</div>

		<h2 class="preparation">Choisissez comment configurer votre PC</h2>
		<div class="jumbotron">
			<button type="button" class="btn btn-default"> Choisir une configuration de base </button>
			<a href="#/configurateur/composants"> <button type="button" ng-click="leavePage()" class="btn btn-info">Créer à partir de zero</button> </a>
		</div>
		 
	  
	</div> <!-- Fin container -->

</body>