<body ng-controller="CompteCtrl">
 
	<div class="container">
		<div class="container" id="creation">
			<h1>Créer un compte</h1>


			<div id="nom_prenom">
				<div class="col-md-6">
					<label for="nom">Nom*</label>
					<input type="text" class="form-control" ng-model="nom" id="nom"><br>
				</div>
				<div class="col-md-6">
					<label for="prenom">Prénom*</label>
					<input type="text" class="form-control" ng-model="prenom" id="prenom"><br>
				</div>		
						
			</div>

			<div id="email" class="col-md-12">
				<label for="email">Email*</label>
				<input type="text" class="form-control" ng-model="email" id="email"><br>
			</div>	
			
			<div id="pwd">
				<div class="col-md-6">
					<label for="password1">Password*</label>
					<input type="password" class="input-md form-control" ng-model="password1" id="password1"><br>
				</div>
				
				<div class="col-md-6">
					<label for="password2">Répetez password*</label>
					<input type="password" class="input-md form-control" ng-model="password2" id="password2"><br>
				</div>					
			</div>
			
			<address id="addr">
				<div id="email" class="col-md-12">
					<label for="adresse">Adresse* :</label>
					<input type="text" class="form-control" ng-model="adresse" id="adresse"><br>
				</div>	
				
				<div class="col-md-6">
					<label for="ville">Ville* :</label>
					<input type="text" class="form-control" ng-model="ville" id="ville"><br>
				</div>
				
				<div class="col-md-6">
					<label for="pays">Pays* :</label>
					<input type="text" class="form-control" ng-model="pays" id="pays"><br>
				</div>
				
			</address>
							
			<div class="col-md-12"> <button class="btn btn-md btn-success form-control" ng-click="createUser()">Créer un compte</button></div>
		</div>
		
		<h4 style="text-align:center"><div ng-if="success" class="success">Votre compte a été crée ! Vous pouvez maintenant vous connecter. <br> <a href="#/home">Retour à la page d'accueil</a></div>
		<div ng-if="error" class="error">{{ error }}</div></h4>
	</div>
</body>