<!DOCTYPE html>
<html ng-app="myApp">
 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Home</title>
       
        <!-- CSS Maison -->     
        <link href="web/css/etape_preparation.css" rel="stylesheet"> 
        <link href="web/css/etapes_configurateur.css" rel="stylesheet">  
        <!-- SCRIPT Maison -->
        <script src="js/preparation_configurateur.js"></script>

    </head>
     
    <!-- AngularJS fournit une directive appelée ngController qui attache le contrôleur à une vue -->
    <body ng-controller="ComposantsConfigurateurCtrl">
        <div>
            </br>

            <!-- 
            <pre> 
                Debug
                {{ maconfig | json }}
            </pre> -->
            <div class="col-md-4" id="etat_configuration">
                <h3>Etat de ma configuration</h3>
                <p>Type : {{ maconfig.type }} </p>
                <p>Budget : {{ maconfig.budget }} €</p>

                <p>Dépense actuelle : {{ maconfig.cout }} € / {{ maconfig.budget }} €</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

                </br>
                <h4>Composants obligatoires</h4>
                <table id="table_composants" class="table table-striped">
                    <thead>
                      <tr>                    
                        <th>Nom</th> 
                        <th>Estimation</th>
                        <th>Dépense</th>
                        <th>Choix</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="composant in mescomposants" >
                      <tr>
                        <td>{{ composant.type_produit }} </td>
                        <td>{{ composant.estimation }} €</td>
                        <td>{{ composant.depense }} €</td>
                        <td>{{ composant.choix }} </td>
                      </tr>                                                                          
                    </tbody>
                </table>
            </div>

          <!--  <td> choix : {{ composant.choix }} </td> -->
                 
          <!-- Dans la div selection_produits, ng-switch correspond à la valeur de maconfig.choix_courant, en fonction
          de sa valeur, les div contenant ng-switch-when s'afficheront (ou non). -->

            <div class="col-lg-8" id="selection_produits" ng-switch="maconfig.choix_courant">

                <h3 ng-switch-when="cartemere"> Composant à choisir: Carte Mère </h3>
                <h3 ng-switch-when="processeur"> Composant à choisir: Processeur </h3>

                <h4>Description</h4>

                <!-- La div correspondant à la valeur de maconfig.choix_courant s'affiche tandis que les autres sont masquées -->

                <div ng-switch-when="cartemere">                  
                    <p>La carte mère est le cœur de tout ordinateur. Elle est essentiellement composée de circuits imprimés et de ports de connexion, par le biais desquels elle assure la connexion de tous les composants et périphériques propres à un ordinateur.</p>
                </div>

                <div ng-switch-when="processeur">                  
                    <p>Un processeur (ou unité centrale de traitement, UCT, en anglais central processing unit, CPU) est un composant présent dans de nombreux dispositifs électroniques qui exécute les instructions machine des programmes informatiques. Avec la mémoire, c'est notamment l'un des composants qui existent depuis les premiers ordinateurs et qui sont présents dans tous les ordinateurs. Un processeur construit en un seul circuit intégré est un microprocesseur.</p>
                </div>

                <!-- Rajouter les autres descriptions ICI en n'oubliant pas de modifier la valeur ng-switch-when="Composant" -->

                </br>

                <h4>Liste des produits</h4>
                
                <!-- Même chose ici, rajouter les tableaux pour chacun des composants en modifiant la valeur ng-switch-->
                <p> 
                    <button type="button" ng-click = "test()" class="btn btn-default">Comparer</button> Selectionner les produits que vous souhaitez comparer 
                </p>

                <div ng-switch = "showme">
                    <div ng-switch-when="true">
                        <div ng-switch = "maconfig.choix_courant">
                        <button type="button" ng-click = "showexit()" class="btn btn-danger"> Fermer la comparaison </button>
                        <TABLE class="table table-striped" ng-switch-when="cartemere">        
                            <thead>
                                <TR>            
                                    <TH>Nom</TH>                          
                                    <TD> {{ cartesmeres[t_c[0]].nom }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].nom }} </TD> 
                                </TR> 
                            </thead>
                            <tbody>
                                 <TR> 
                                    <TH> Controleur principal</TH>
                                    <TD> {{ cartesmeres[t_c[0]].caracteristiques.controleur_principal }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].caracteristiques.controleur_principal }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Mémoire supportée</TH>
                                    <TD> {{ cartesmeres[t_c[0]].caracteristiques.memoire_supportee }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].caracteristiques.memoire_supportee }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Prix</TH>
                                    <TD> {{ cartesmeres[t_c[0]].prix }} € </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].prix }} €</TD> 
                                </TR>
                                <TR>
                                    <TH> Disponibilité</TH>
                                    <TD> {{ cartesmeres[t_c[0]].dispo }} </TD> 
                                    <TD> {{ cartesmeres[t_c[1]].dispo }}</TD> 
                                </TR>
                                <!--<TR>
                                    <TH> Ajout Produit </TH>
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[0]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[1]])" class="btn btn-warning" value="Choisir ce composant"> </TD> -->
                                </TR>
                            </tbody>                               
                        </TABLE>

                        <TABLE BORDER="1" CELLPADDING=32 CELLSPACING=35 ng-switch-when="processeur"> 
                            <CAPTION> <button type="button" ng-click = "showexit()" class="btn btn-default">X</button> Comparaison Produits </CAPTION> 
                                 <TR> 
                                     <TH> Nom </TH>
                                     <TD> {{ processeurs[t_c[0]].nom }} </TH> 
                                     <TD> {{ processeurs[t_c[1]].nom }} </TD> 
                                </TR> 
                                <TR> 
                                     <TH> Nombre de coeurs : </TH>
                                     <TD> {{ processeurs[t_c[0]].caracteristiques.nb_coeur }} </TD> 
                                     <TD> {{ processeurs[t_c[1]].caracteristiques.nb_coeur }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Fréquence </TH>
                                    <TD> {{ processeurs[t_c[0]].caracteristiques.freq }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].caracteristiques.freq }} </TD> 
                                </TR>
                                 <TR>
                                    <TH> Mémoire cache </TH>
                                    <TD> {{ processeurs[t_c[0]].caracteristiques.memoire_cache }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].caracteristiques.memoire_cache }} </TD> 
                                </TR>
                                <TR>
                                    <TH> Prix</TH>
                                    <TD> {{ processeurs[t_c[0]].prix }} € </TD> 
                                    <TD> {{ processeurs[t_c[1]].prix }} €</TD> 
                                </TR>
                                <TR>
                                    <TH> Disponibilité</TH>
                                    <TD> {{ processeurs[t_c[0]].dispo }} </TD> 
                                    <TD> {{ processeurs[t_c[1]].dispo }}</TD> 
                                </TR>
                                <TR>
                                    <TH> Ajout Produit </TH>
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[0]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                    <TD> <input type="button" ng-click="ajouterCarteMere(cartesmeres[t_c[1]])" class="btn btn-warning" value="Choisir ce composant"> </TD> 
                                </TR>
                        </TABLE>

                        </div>                                  
                    </div>
                </div>

            </br>
                <label for="filtreprix"> Prix maximum :</label>               
                <input id="filtreprix" type="text">
                <input type="button" ng-click="filtrerParPrix()" value="Actualiser" class="btn btn-sm btn-info">
                
                <div>                                                            
                    <table class="table table-striped">
                        <thead>
                          <tr>                    
                            <th></th>
                            <th>Nom</th> 
                            <th>Aperçu des caracteristiques</th>
                            <th>Prix</th>
                            <th>Disponibilité</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody ng-repeat="produit in liste_produits">
                          <tr>
                            <td><input type="checkbox" ng-model="value[$index]" ng-change="plus($index)"> </td>
                            <td> {{ produit.nom}} </td>       
                            <td ng-switch-when="cartemere"> 
                                Controleur principal :{{ produit.caracteristiques.controleur_principal }}</br>
                                Format : {{ produit.caracteristiques.format }}</br>
                                Mémoire supportée : {{ produit.caracteristiques.memoire_supportee }}
                            </td>                        
                            <td ng-switch-when="processeur"> 
                                Nombre de coeur : {{ produit.caracteristiques.nb_coeur }}</br>
                                Fréquence : {{ produit.caracteristiques.freq }}</br>
                                Mémoire cache : {{ produit.caracteristiques.memoire_cache }}
                            </td>                     
                            <td> {{ produit.prix }} € </td>
                            <td> {{ produit.dispo }} </td>                            
                            <td ng-switch-when="cartemere">                                        
                                <a href="#/configurateur/composants/details">Voir Détails >></a>
                                <input type="button" ng-click="ajouterCarteMere(produit)" class="btn btn-warning" value="Choisir ce composant">
                            </td>
                            <td ng-switch-when="processeur">                                        
                                <a href="#/configurateur/composants/details">Voir Détails >></a>
                                <input type="button" ng-click="ajouterProcesseur(produit)" class="btn btn-warning" value="Choisir ce composant">
                            </td>
                          </tr>                                                                                                  
                        </tbody>                       
                    </table>
                </div>

            </div>

        </div>
    </body>
</html>