#mon_compte, #panier
{
  float: right;
}

#panier
{
  padding-left: 2%;
}

#configurateur_PC div
{
	text-align: left;
}

#avantages
{
	margin : auto; 
	padding-left: 8%;
}

#ligne_de_vie
{
	list-style-type: none;
	margin: auto;
	padding-top: 2%;
}

#ligne_de_vie li
{
	display: inline-block;
	padding-right: 5%;
	padding-left: 5%;
	border: solid 1px black;
}

.done
{
	border: solid 1px green;
	color: white;
	background-color: #228B22;
}

.actual
{
	border: solid 1px blue;
	color: white;
	background-color: #1E90FF;
}

#etat_configuration
{
	border-right: solid 0.3px Scrollbar;
}

h1
{
	text-align: center;
}

h2 .preparation
{
	text-align: left;
}

#profils div
{
	margin: auto;
}

.success
{
	font-weight: bold;
	color: green;
}

.error
{
	font-weight: bold;
	color: red;
}