<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html lang="fr" ng-app="myApp" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My AngularJS App</title>
    
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="web/css/bootstrap.css" rel="stylesheet">
    <!-- CSS Barre de Navigation -->
    <link href="web/css/justified-nav.css" rel="stylesheet">
    <!-- CSS general -->
    <link href="web/css/style.css" rel="stylesheet">

    <!-- ANGULAR JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <!-- FIREBASE + ANGULAR FIRE -->
    <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

</head>
<body>

  <div id="container">
    <header>
      <div>
        <a href="#/home"><img src="web/img/Logo PC-CRAFT.png"></a>

        <div id="panier">
          <a href="#\panier"><h3> <img src="web/img/shopping cart.png"> Panier ( {{panier.total}} € )</h3></a>  
        </div>

        <div id="mon_compte" ng-controller="CompteCtrl">
          <div ng-hide="connected" id="identification" class="row">
            <div class="col-md-6"> <input type="text" ng-model="email" id="email" class="form-control" placeholder="email"><br> </div>
              
            <div class="col-md-6"> <input type="password" ng-model="password" id="password" class="form-control" placeholder="password"><br> </div> 
          </div>

          <div ng-hide="connected" id="oubli">
            <div class="row">
              <div class="col-md-4"> <button class="btn btn-md btn-info form-control" ng-click="connectUser()">S'identifier</button> </div>
              
              <div class="col-md-6">
                <p> ou <a href="#/signin">Créer un compte</a> </p>
                <p> <a href="#/oubli">Mot de passe perdu ?</a> </p>
              </div>

              <div class="col-md-2" ng-if="error" class="error">{{ error }}</div>
            </div>
          </div>

  		    <a ng-show="connected" href="#/profil"><strong>{{id.prenom}} {{id.nom}}</strong></a>
  		    <button ng-show="connected" ng-click="disconnectUser()">Se déconnecter</button>
        </div>

      </div>
    </header>

    <!-- The justified navigation menu is meant for single line per list item -->
    <div class="masthead">        
      <nav>
        <ul class="nav nav-justified">
          <li class="active"><a href="#/home">Home</a></li>
          <li><a href="#/configurateur/preparation">Configurateur de PC</a></li>
          <li><a href="#/catalogue">Catalogue</a></li>
          <li><a href="#/guide">Guide</a></li>
          <li><a href="#/forum">Forum</a></li>     
        </ul>
      </nav>
    </div>

    <!-- ngView est une directive qui aide à rendre la vue attachée avec une route particulière dans le layout principal, index.html. Donc à chaque fois que la route change, le contenu de la div montrée ci-dessus change également. -->
    <div ng-view></div>

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bootstrap-3.3.6/dist/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/home.js"></script>
  <script src="js/preparation.js"></script>
  <script src="js/configurateur.js"></script>
  <script src="js/compte.js"></script>
  <script src="js/profil.js"></script>
  <script src="js/panier.js"></script>
  <script src="js/commande.js"></script>
  <script src="js/historique.js"></script>

</body>
</html>
